doctype html
html(lang="en")
    head
        title Events
        //link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        meta(http-equiv="content-type" content="text/html; charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        link(rel="stylesheet" href="../assets/css/bootstrap.css")
        link(rel="stylesheet" href="../assets/css/nexus.css")
    body
        div
            .primary-container-group
                .primary-container-background
                    .primary-container
                    .clearfix
                .primary-container
                    .container
                        each myEvent in events
                            .row
                                .col-md-12.margin-top-30
                                    .blog-post-date.pull-left(style="width: 150px")
                                        span.date #{myEvent.date}
                                        span.month #{myEvent.time}
                                    h2.item-title #{myEvent.nameEvent}
                                    p
                                        br
                                        |   #{myEvent.description}
                                    .blog-item-footer
                                        .row
                                            .col-md-10
                                                hr
                                            .col-md-2
                                                .blog-post-details-item.blog-post-details-item-right.pull-right
                                                    a.btn.btn-primary.bottom-right(href="/event/" + myEvent.idEvent)
                                                        | Read More
                                                        i.icon-chevron-right.readmore-icon
                                .clearfix